.nav-search-input {
    padding-right: 284px;
    width: 592px;
}

.nav-icon-search {
    background-image: url("./../../../public/images/ic_Search.png");
}

.nav-search-btn {
    width: 30px;
    padding-top: 13px;
    height: 30px;
}