.nav-search-input {
    padding-right: 284px;
    width: 592px;
}

.nav-icon-search {
    background-image: url("./../../../public/images/ic_Search.png");
}

.nav-search-btn {
    width: 30px;
    padding-top: 13px;
    height: 30px;
}

.picture {
    width: 180px;
    height: 180px;
}

a, a:hover {
    text-decoration: none !important;
    color: #333;
}

.description-product, .description-title {
    padding-left: 32px;
    font-size: 16px;
}

.btn-buy {
    right: 20px;
    border-radius: 4px;
}

.description-title {
    font-size: 18px;
    padding-bottom: 32px;
}

.price {
    color: #333;
    display: -webkit-flex;
    display: flex;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    margin-right: 8px;
    border-radius: 4px;
    padding-bottom: 32px;
}

.title {
    font-size: 18px;
}

.condition {
    color: #666;
    font-size: 12px;
}

.button-search {
    background-color: #EEEEEE;
    border: 1px solid #ced4da;
    background-image: url("./../../../public/images/ic_Search.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
}

.btn:hover,:not(.btn-check)+.btn:active, .btn:focus-visible {
    background-color: #EEEEEE;
    border: 1px solid #ced4da;
}

.imageProduct {
    width: 680px;
}

.ic_shipping {
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-left: 10px;
}