.title{
    .price{
        font-size: 50px;
    }
    .condition {
        font-size: small;
        font-style: oblique;
    }
    .name {
        font-weight: bold;
        font-size: 35px;
    }
}