body {
  font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif,sans-serif;
  font-size: 14px;
  background-color: #ededed;
}

li {
  list-style: none;
}

main {
  display: flex;
  table-layout: fixed;
  border-collapse: collapse;
  justify-content: space-evenly;
}

.ui-search-main {
  display: flex;
  justify-content: space-evenly;
}

.product-image {
  padding-right: 8px;
}

.product-detail {
  padding-left: 8px;
}

.ui-detail-item {
  display: flex;
  justify-content: space-evenly;
  width: 1200px;
  .card {
    min-width: 100%;
  }
}

.ui-search-sidebar {
  -webkit-flex: 1 1;
  flex: 1 1;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 294px;
  min-width: 210px;
  padding-right: 14px;
  width: 100%;
}

.content-data {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
}

.card {
  border-radius: 0;
  border: var(--bs-card-border-width) solid rgb(0 0 0 / 3%);
}